th:nth-child(1),
td:nth-child(1) {
    width: 60px; 
    text-align: center;
}

th:nth-child(3),
td:nth-child(3) {
    width: 180px; 
    text-align: center;
}


td, th {
    vertical-align: middle !important;
}

td:nth-child(2) {
    text-align: left;
}
