.thongke-title {
    margin-top: 24px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.75rem; 
}
.btn-moc {
    border: 1px solid #28a745; 
    color: #28a745;
    background-color: white;
    font-weight: bold;
    transition: 0.2s;
}

.btn-moc:hover {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.btn-moc.active {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}
.btn-moc:focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn-success:focus {
    outline: none !important;
    box-shadow: none !important;
}
input[type="text"]:hover {
    border-color: #28a745 !important;
    transition: border-color 0.2s ease;
}
input[type="text"]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #28a745 !important;
    transition: border-color 0.2s ease;
}
.thongke-container {
    background-color: white;
    border: 2px solid #28a745;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.thongke-item {
    flex: 1;
    min-width: 200px;
    text-align: center;
    color: #28a745;
}

.thongke-item .number {
    font-size: 28px;
    font-weight: bold;
}

.thongke-item .label {
    font-size: 14px;
    font-weight: normal;
}


